extend ../layouts/main-layout.pug

block styles

block content
    main
        if message
            .user-message.user-message--error #{errorMessage}
        form.login-form( action="/new-password" method="POST")
            .form-control
                label( for="password") Password
                input( type="password" name="password")#password
            input(type="hidden" name="userId" value=userId)
            input(type="hidden" name="_csrf" value=csrfToken)
            button.btn( type="submit") Update Password
        