extend ../layouts/main-layout.pug

block styles

block content
    if products.length > 0
        ul
            each product of products
                li #{product.productData.title} (#{product.qty})

    else
        h1 The Cart is empty