extend ../layouts/main-layout.pug

block styles

block content
    ul.cart__item-list
            each product of products
                li.cart__item
                    h1 #{product.productId.title} 
                    h2 Quantity: #{product.quantity}
    hr
    div
        h2 Total price: #{totalSum}